<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col >
       Bem vindo {{ user }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          
        <ion-button (click)="showBalance()" expand="block" class="dashboard-button" icon-end>
            <ion-icon name="paper" class="ion-no-margin"></ion-icon> 
                     Extrato
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="danger">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>