<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Saldo em Conta</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding color="primary">
 
  <ion-grid *ngIf="balance">
    <ion-row>
      <ion-col >
       Bem vindo {{ user }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Seu saldo atual : {{ balance }}
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>